html{
  animation: lights 5s infinite alternate;
  width: 100%;
  margin: 0 auto;
}

@keyframes lights{
  0%{
    background-color: rgba(0, 0, 0, 0.5);
  }
  25%{
    background-color: rgba(102, 196, 234, 0.5);
  }
  50%{
    background-color: rgba(244, 237, 51, 0.5);
  }
  75%{
    background-color: rgba(44, 246, 13, 0.5);
  }
  100%{
    background-color: rgba(19, 42, 214, 0.81);
  }
}

body {
  width: 80%;
  margin: 20px auto;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("rock_out.jpg");
  background-size: cover;
  border-radius: 50px;
	background-position: center;
}

marquee{
  font-family: "Lobster", cursive;
  margin-top: 20px;
  font-size: 20px;
  height: 50px;
  color: white;
}

header{
  height: 200px;
}

.container{
  height: 1000px;
  width: 100%;
  margin: 10px auto;
  background-size: cover;
  background-position: bottom;
}


h1{
  text-align: center;
  font-family: 'Lobster', cursive;
  text-decoration: underline;
  font-size: 96px;
  color: white;
}

.search-form{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  border-bottom: 2px solid grey;
  width: 75%;
  margin: 0 auto;
  padding-bottom: 20px;
}

input{
  margin: 0 auto;
  width: 40%;
  height: 50px;
  font-family: 'Acme', sans-serif;
  font-size: 30px;
  color: cyan;
  font-style: italic;
  font-weight: lighter;
  outline: none;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  text-align: center;
}

.button{
  width: 20%;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  margin: 10px auto;
  font-family: 'Sarpanch', sans-serif;
  background: transparent;
  box-shadow: 5px 5px 5px #f442c2;
  outline: none;
  cursor: pointer;
}

.button:active{
  box-shadow: 0 2px 0 #f442c2;
}

#results{
  display: flex;
  flex-flow: row nowrap;
  height: 600px;
  overflow-x: scroll hidden;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  background: transparent;
}

h3{
  font-size: 24px;
  font-family: 'Sarpanch', sans-serif;
  color: white;
  text-decoration: underline;
}

h4{
  font-size: 16px;
  font-family: 'Sarpanch', sans-serif;
  color: white;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

#scroll{
  text-align: center;
  color: white;
  padding-top: 20px;
}

.artist_profile{
  width: 600px;
  height: 400px;
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  padding: 20px;
  text-align: center;
  background: rgba(192, 192, 192, 0.8); 
  border-radius: 25px;
}

.artist_profile img{
  width: 200px;
  height: 200px;
  margin: 10px auto;
  border-radius: 50px;
}

.artist_profile button{
  font-family: 'Acme', sans-serif';
  font-size: 10px;
}

.artist_profile a{
  color: cyan;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-style: italic;
  width: 50%;
  margin: 0 auto;
  font-family: 'Acme', sans-serif;
}

.artist_profile audio{
  margin: 0 auto;
  width: 50%;
  border-radius: 10px;
}
